@import url("https://fonts.googleapis.com/css2?family=Roboto+Slab:wght@500&display=swap");

body {
  font-family: "Roboto Slab", serif;
  background: rgb(2, 0, 36);
  background: linear-gradient(
    90deg,
    rgba(2, 0, 36, 1) 0%,
    rgba(9, 56, 121, 0.8827906162464986) 62%,
    rgba(0, 212, 255, 1) 100%
  );
}
.text-bg {
  color: #fff;
}
.summary{
  font-size: 20px;
}
h1 {
  font-size: 6vw !important;
}


@media(max-width: 767px){
  h1{
    font-size: 30px !important;
  }
 .summary{
   font-size: 16px;
 }
 body{
  text-align: center;
 }
}